*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    font-family: "KaiTi";
}
.wrap{
    width: 100%;
    text-align: center;
}

.isShow{
    display: none !important;
}

/*侧栏导航条图标字体*/
@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.eot?mac5xd");
    src: url("fonts/icomoon.eot?mac5xd#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?mac5xd") format("truetype"), url("fonts/icomoon.woff?mac5xd") format("woff"), url("fonts/icomoon.svg?mac5xd#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ffffff;
    font-size: 30px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  
  .icon-wechat:before {
    content: "\e900"; }
  
  .icon-mobile:before {
    content: "\e958"; }
  
  .icon-arrow-up2:before {
    content: "\ea3a"; }
  
  .icon-mail4:before {
    content: "\ea86"; }

/*填充条*/
.commu{
    position: relative;
    margin: 0 auto;
    width: 1000px;
}
.main-1{
    width: 100%;
    background-color:rgba(0,0,0,.8);
}
.main-2{
    width: 100%;
    background-color: #ffffff;
    z-index: 5;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;;
    font-weight: 800;
}

/*顶部条*/
.head_Bar{
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}

.head_Bar .top_Bar{
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.8);
}

.head_Bar .welcome{
    position: absolute;
    left: 150px;
    top: 0;
}

.head_Bar .user_Admin{
    width: 400px;
    position: absolute;
    display: flex;
    right: 150px;
    top: 0;
}

.head_Bar .user_Admin .userName_Header{
    display: inline-block;
    width: 70px;
    height: 20px;
    line-height: 20px;
    background: url('../../images/headPhoto.png') no-repeat 8px 0;
}

.user_Admin .user_Item{
    position: relative;
    flex: 1;
    top: 0;
    text-align: right;
}

.user_Admin .user_Item li:last-child a:hover{
    color: red;
}

.user_Admin li{
    display: inline-block;
    position: relative;
    margin-left: 15px;
    
}

.user_Admin .collect_shopCar {
    display: inline-block;
    position: relative;
    flex: 1;
}

.collect_shopCar .collect{
    display: inline-block;
    width:90px;
    position: relative; 
    background: url('../../images/start.png') no-repeat 0 4px; 
}
.collect_shopCar .collect::after{
    content: "";
    border: .5px solid #b5b5b5;
    margin-left: 5px;
}
.collect_shopCar .shopCar{
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 0;
    width: 90px;
    overflow: visible;
    background: url('../../images/shopCar.png') no-repeat 0 3px;
}

.collect_shopCar .shopCar span{
    display: inline-block;
    position: absolute;
    font-size: 14px;
    text-align: left;
    right: -60px;
    top: 1px;
    width: 80px;
}

/*搜索栏*/
.seach_Bar{
    position: relative;
    width: 1000px;
    height: 90px;
    margin: 0 auto;
}

.seach_Bar .logo{
    width: 400px;
    border: 1px solid;
}

.logo img{
    position: absolute;
    left: 30px;
    top: 0px;
    width: 80px;
    height: 80px;
}

.logo .font_logo{
    left: 90px;
    top: -15px;
    width: 200px;
    height: 120px;
    cursor: pointer;
}

.seach_Bar .seach{
    width: 500px;
    height: 80%;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

.seach_Bar .seach .seach_box{
    width: 350px;
    height: 35px;
    position: absolute;
    left: 15%;
    top: 50%;
    border-radius: 15px 15px;
    margin-top: -15px;
    padding-left: 5px;
    outline:none;
}

.seach_Bar .seach .seach_button{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 70px;
    top:50%;
    margin-top: -13px;
    outline:none;
    cursor: pointer;
    background: url('../../images/seach.png') no-repeat 3px 2px;
}

.seach_Bar .seach .realTime_result{
    width: 330px;
    height: 200px;
    position: absolute;
    left: 16%;
    top: 85%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .8);
    overflow: scroll;
}

.seach_Bar .seach .realTime_result a{
    display: inline-block;
    width: 90%;
    height: 25px;
    line-height: 25px;
    margin: 5px auto;
    text-align: left;
    border-bottom: 1px dashed #b5b5b5;
}

.seach_Bar .seach .resule_none{
    display: inline-block;
    width: 200px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    left: 20%;
    top: 90%;
    color: #ffffff;
    text-align: left;
    text-indent: 20px;
    background: url(../../images/none.png) no-repeat left;
    background-size: 16px;
    z-index: 99999;
}

/*导航菜单栏*/
.main-3{
    width: 100%;
    z-index: 999;
}
.main_Nav{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 0 auto;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    background-color: rgba(255, 255, 255 ,.6);
}

.main_Nav .main_Nav-item{
    width: 200px;
    height: 100%;
    position: relative;
    margin-left: 130px;
}

.main_Nav .main_Nav-item .main_Nav-index,
.main_Nav .main_Nav-item .main_Nav-Cloths{
    color: #ffffff;
    background: url('../../images/hot_sale/background.png') no-repeat center;
}

.main_Nav .main_Nav-item li{
    display: inline-block;
    width: 80px;
}

.main_Nav .main_Nav-item a{
    display: inline-block;
    width: 100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

/*图片轮播栏*/
.photo_Show{
    width: 950px;
    height: 460px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    z-index: 1;
}

.photo_Show .photo-item{
    width: 950px;
    height: 460px;
    position: relative;

    overflow: hidden;
}

.photo_Show  .photo-item ul{
    width: 1000%;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .6 linear;
}

.photo_Show .photo-item li{
    float: left;
}

.photo_Show .main-i img{
    width: 950px;
    height: 440px;
}

.photo_Show .control{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: -40px;
    z-index: 9; 
}

.photo_Show .control .control-i{
    width: 80px;
    height: 10px;
    background-color: #cccccc;
    display: inline-block;
    position: relative;
}

.photo_Show .control .bgc-black{
    background-color: rgba(0, 0, 0, .8) !important;
}

.photo_Show .control .control-i:hover{
    background-color: #000000;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    opacity: 0.6;
}

.control .active2 {
    background-color: #000000 !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    opacity: 0.8;
}

/*幻灯片切换*/
.photo_Show .photo-item .main-i img{
    transition: all 1s ease-out;
}

.photo_Show .photo-item .main-i .img-i:target{
    left: 10%;
    opacity: 1;
}

/*弹窗*/
.dialog{
    width: 100%;
    height: 300%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(255,255,255,0.5);
    
}

/*小号弹窗*/
.smallDialog_wrap .smallDialog_panel{
    width: 400px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid;
}

.smallDialog_panel div{
    width: 300px;
    position: relative;
    text-align: center;
    margin: 30px auto;
}

.smallDialog_panel .tips_title img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.smallDialog_panel .tips_title h2{
    display: inline-block;
    margin-left: 20px;
}

.smallDialog_panel .goWhere a{
    display: inline-block;
    width: 40%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-right: 10px;
    letter-spacing: .5em;
    background-color:rgba(0, 0, 0, 0.8);
}

/*登录、注册共有样式*/
.dialog .registerAndLogin_panel{
    width: 600px;
    height: 500px;
    position: relative;
    margin: 50px auto;
    background-color: #ffffff;
    border: 1px solid;
}

.registerAndLogin_panel header{
    width: 90%;
    height: 50px;
    line-height: 50px;
    color: #000000;
    border-bottom: 1px dashed #cccccc;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -270px;
}

.registerAndLogin_panel header span{
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -5px;
    background: url('../../images/x.png') no-repeat;
}

.registerAndLogin_data{
    width: 100%;
    position: relative;
    margin: 100px auto;
}

.registerAndLogin_data .registerAndLogin_input{
    width: 400px;
    position: relative;
    margin: 100px auto;
    border: 1px solid transparent;
}
.register_data .users_input .registerEye,
.login_data .user_common .loginEye{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right:220px;
    top: 0;
    cursor: pointer;
}

.register_data .users_input .registerCloseEye,
.login_data .user_common .loginCloseEye{
    background: url('../../images/closeEye.png') no-repeat;
}

.register_data .users_input .registerOpenEye,
.login_data .user_common .loginOpenEye{
    background: url('../../images/openEye.png') no-repeat;
}


/*登录*/
.users_input .users_message,
.users_input .btn-wrap{
    width: 300px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -150px;
}

.register_data .users_input .registerEye{
    right: 0;
    top: 75px;
}

.users_input .users_message input{
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 30px;
    display: block;
}

.users_input .users_message .warningOf,
.users_input .vertify_code .warningOf{
    display: block;
    width: 180px;
    height: 20px;
    line-height: 20px;
    text-indent: 20px;
    font-size: 14px;
    color: red;
    position: absolute;
    left: 0;
    top: 35px;
    background: url('../../images/warning.png') no-repeat;
}

.users_input .users_message .warningOfPassage{
    top:100px;
}

.users_input .users_message .phone_code-wrap{
    width: 310px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 63px;
    display: flex;
}

.users_message .phone_code-wrap .phone_code-input{
    height: 31px;
    padding-left: 5px;
    flex: 3;
}
.users_message .phone_code-wrap a{
    width: 120px;
    height: 35px;
    color: #ffffff;
    letter-spacing: .1em;
    text-align: center;
    line-height: 35px;
    flex: 2;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 1);
}

.registerAndLogin_input .vertify_code{
    width: 310px;
    position: relative;
    margin:120px auto;
    display: flex;
}

.users_input .vertify_code .code-input{
    width: 120px;
    height: 30px;
    padding-left: 5px;
    position: absolute;
    left: 8px;
    top: 5px;
}

.users_input .vertify_code span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
    background: url('../../images/review.png') no-repeat;
}

.users_input .vertify_code .vertify_code-wrap{
    width: 130px;
    height: 40px;
    display: inline-block;
    position: relative;
    margin-left: 170px;
    overflow: hidden;
}

.vertify_code .vertify_code-wrap ul{
    width: 1000%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;

}

.vertify_code .vertify_code-wrap img{
    width: 110px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid;
}
.users_input .password-operation{
    position: absolute;
    right: 25px;
    top: 185px;
    font-size: 13px;
}

.users_input .password-operation a{
    color: #000000;
    text-decoration-line: underline;
}

.users_input .btn-wrap{
    top: 220px;
    padding-left: 10px;
}
.users_input .btn-wrap a{
    display: inline-block;
    width: 45%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align:center;
    letter-spacing: .5em;
    color: #ffffff;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, .8);
}

.register_data .other_register{
    width:500px;
    position: relative;
    margin: -80px auto;
    box-sizing: border-box;
    padding-left: 120px;
}

.register_data .other_register a{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 60px;
}

.register_data .other_register h6{
    width: 140px;
    margin-left: 65px;
    margin-top: 10px;
}

/*注册*/
.login_wrap .login_panel{
    height: 700px;
}
.login_data{
    padding-left: 40px;
}

.login_data .user_common{
    position: relative;
    margin-left: 15px;
    margin-top: 40px;
}



.login_data .loginWarning{
    display: block;
    width: 150px;
    height: 20px;
    line-height: 20px;
    text-indent: 20px;
    font-size: 14px;
    color: red;
    position: absolute;
    right: 60px;
    top: -5px;
    background: url('../../images/warning.png') no-repeat;
}

.login_data .clause .loginWarning{
    left: 150px;
    top: -2px;
    font-size: 12px;
}

.login_data .user_common .loginLast_input{
    right: 220px;
    top: 25px;
}

/*密码强度*/
.login_data .user_common .loginPassageStrength{
    top: -15px;
    right: 80px;
    color: #000000;
    background: none;
}

.login_data .user_common .loginPassageStrength-1{
    top:5px;
    right: 80px;
    width: 130px;
    text-indent: 100px;
    background: url('../../images/passageStrength.png') no-repeat 0 -16px;
}

.login_data .user_taxCode .alreadySend{
    font-size: 16px;
}


.login_data .user_common input{
    width: 230px;
    height: 30px;
    padding-left: 5px;
    position: absolute;
    left: 130px;
    top: -10px;
}

.login_data .user_taxCode,
.login_data .vertify_code{
    width: 500px;
}

.login_data .user_taxCode a{
    display: inline-block;
    width: 120px;
    height: 33px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    line-height: 33px;
    letter-spacing: .1em;
    background-color: #000000;
    position: absolute;
    left: 370px;
    top: -10px;
}

.login_data .vertify_code .vertify_code-wrap{
    width: 130px;
    height: 40px;
    display: inline-block;
    position: relative;
    margin-left:370px;
    margin-top: -30px;
    overflow: hidden;
}

.login_data .vertify_code .login_code{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -12px;
    margin-top: 10px;
    cursor: pointer;
    background: url('../../images/review.png') no-repeat;
}

.login_data .clause{
    width: 500px;
    font-size: 12px;
    position: absolute;
    left: 60px;
    bottom: -40px;
    border-bottom: 1px dashed #cccccc;
}

.login_data .login_submit{
    width: 200px;
    position: absolute;
    left: 50%;
    bottom: -100px;
    margin-left: -120px;
    background-color: rgba(0, 0, 0, .8);
}

.login_data .login_submit a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .2em;
    line-height: 40px;
    text-align: center;
    color: #ffffff
}

/*热卖榜*/
.hot_sale{
    position: relative;
    width: 1000px;
    margin-top: 10px;
}

.hot_sale .store_manager span{
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    margin: 20px auto;
}

.hot_sale .store_manager em{
    display: inline-block;
    width: 80px;
    height: 20px;
    border: 1px dashed;
}

.hot_sale .hot_photo{
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto ; 
    grid-template-areas: "first second second three"
                         "forth second second five"
                         "six seven eight nine";
}


.hot_sale .hot_photo > li.first{
    grid-area: first;
}


.hot_sale .hot_photo > li.second{
    width: 500px;
    height: 380px;
    grid-area: second;
    justify-self: center;
    align-self: center;
    position: relative;
    margin-top: -20px;
}

.hot_photo li div{
    position: relative;
    width: 220px;
    height: 180px;
    line-height: 30px;
    margin-top: -185px;
    margin-left: 15px;
    background-color:rgba(0, 0, 0, .6);
    cursor: pointer;
    display: none;
}

.hot_photo li div h3{
    position: absolute;
    left: 45px;
    top: 40px;
    color: #ffffff;
    font-weight: 600;
    
}
.hot_photo li div p{
    color: #ffffff;
    width: 80%;
    position: absolute;
    left: 7%;
    top: 70px;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
}

.hot_photo li div a{
    display: inline-block;
    width: 70px;
    height: 20px;
    position: absolute;
    left: 30%;
    top: 70%;
    font-size: 14px;
    line-height: 20px;
    background-color:#000000;
}

.hot_photo .second div{
    position: relative;
    width: 460px;
    height: 380px;
    line-height: 30px;
    margin-top: -383px;
    margin-left: 20px;
    background-color:rgba(0, 0, 0, .6);
    display: none;
}

.hot_photo .second div h3{
    position: absolute;
    left: 150px;
    top: 100px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 800;
}
.hot_photo .second div p{
    color: #ffffff;
    width: 80%;
    font-size: 22px;
    position: absolute;
    left: 8%;
    top: 150px;
    font-size: 16px;
    word-wrap: break-word;
}
.hot_photo .second div a{
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    position: absolute;
    left: 40%;
    top: 70%;
    background-color:#000000;
}
.hot_sale .hot_photo > li.three{
    grid-area: three;
}
.hot_sale .hot_photo > li.forth{
    grid-area: forth;
}
.hot_sale .hot_photo > li.five{
    grid-area: five;
}
.hot_sale .hot_photo > li.six{
    grid-area: six;
}
.hot_sale .hot_photo > li.seven{
    grid-area: seven;
}
.hot_sale .hot_photo > li.eight{
    grid-area: eight;
}
.hot_sale .hot_photo > li.nine{
    grid-area: nine;
}

/*侧栏导航条*/
.toolbar_Nav {
    width: 50px;
    position: fixed;
    right: 0;
    top: 50%;
    font-size: 14px;
    z-index: 9999;
  }
  .toolbar_Nav .toolbar-item {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 50px;
      cursor: pointer; 
  }
    
  .toolbar_Nav .toolbar-item .toolbar-item-code {
      display: inline-block;
      width: 150px;
      height: 155px;
      position: absolute;
      left: -150px;
      top: -100px;
      opacity: 0;
      -webkit-transform: scale(0.01);
      -moz-transform: scale(0.01);
      -ms-transform: scale(0.01);
      -o-transform: scale(0.01);
      transform: scale(0.01);
      transform-origin: right bottom;
      -webkit-transition: all 0.6s linear 0.3s;
      -moz-transition: all 0.6s linear 0.3s;
      -ms-transition: all 0.6s linear 0.3s;
      -o-transition: all 0.6s linear 0.3s;
      transition: all 0.6s linear 0.3s; 
  }
  
  .toolbar_Nav .toolbar-item .toolbar-item-icon {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #b5b5b5;
      overflow: hidden;
      -webkit-transition: background-color 0.6s ease-in-out;
      -moz-transition: background-color 0.6s ease-in-out;
      -ms-transition: background-color 0.6s ease-in-out;
      -o-transition: background-color 0.6s ease-in-out;
      transition: background-color 0.6s ease-in-out; 
  }
  
  /* .toolbar_Nav .toolbar-item .toolbar-item-icon::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 5px;
      background-color: #fff;
      margin-top: 50px;
      margin-left: -25px;
      position: absolute;
      -webkit-transition: margin 0.6s ease-in-out;
      -moz-transition: margin 0.6s ease-in-out;
      -ms-transition: margin 0.6s ease-in-out;
      -o-transition: margin 0.6s ease-in-out;
      transition: margin 0.6s ease-in-out; 
  } */
  
  .toolbar_Nav .toolbar-item .toolbar-item-icon:hover {
      background-color: grey; 
  }
  
  .toolbar_Nav .toolbar-item .toolbar-item-icon:hover i {
      margin-top: -15px; 
  }
  
  .toolbar_Nav .toolbar-item .toolbar-item-icon:hover span {
      margin-top: -135px; 
  }
  
  .toolbar_Nav .toolbar-item .toolbar-item-icon span, 
  .toolbar_Nav .toolbar-item .toolbar-item-icon i {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -15px;
      display: block;
      -webkit-transition: margin .5s ease-in-out;
      -moz-transition: margin .5s ease-in-out;
      -ms-transition: margin .5s ease-in-out;
      -o-transition: margin .5s ease-in-out;
      transition: margin .5s ease-in-out; 
  }
  
  .toolbar_Nav .toolbar-item .toolbar-item-icon i {
      font-family: 'Microsoft YaHei';
      font-style: normal;
      font-size: 12px;
      letter-spacing: 0.4em;
      color: #ffffff;
      margin-top: 100px; 
  }
  
  .toolbar-item-1:hover .toolbar-item-code {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background: url("../../images/weixin_code.JPG") no-repeat; }
  
  .toolbar-item-3:hover .toolbar-item-code {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background: url("../../images/code.png") no-repeat; }
  
  /* .toolbar-item:hover .toolbar-item-icon::before {
    margin-top: -10px; } */

/*尾注*/
.wrap footer{
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, .9);
}

.wrap footer div{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-top: 30px;
    position: relative;
}

.wrap footer span{
    display: block;
    width: 100px;
    font-size: 18px;
    color: #ffffff;
}

.wrap footer .about_We p{
    display: inline-block;
    width: 75%;
    height: 70px;
    line-height: 20px;
    color: #b5b5b5;
    word-break: normal;
}

.wrap footer .call_we em{
    color: #b5b5b5;
    margin-right: 20px;
}

.wrap footer .call_we .weixin_code{
    width: 300px;
    height: 200px;
    text-align: center;
    position: absolute;
    right: 0;
    top: -120px;
}

.wrap footer .call_we .weixin_code span{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}